@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Roboto:ital,wght@0,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #bcbaba;
}


/* Navbar */

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #2c1c30;
    color: white;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.logo{
    margin-left: 5rem;
}

.burger{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-right: 5rem;
}

.burger span{
    border: 2px solid white;
    width: 40px;
    height: 1px;
    margin: 1px;
}

/* header */

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    padding-left: 5rem;
}

.main-heading{
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    transform: translateY(-40px);
    line-height: 4.5rem;
}

.primary-heading{
    max-width: 500px;
    font-family: 'Roboto', sans-serif;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.btn-fill{
    background-color: #2c1c30;
    color: white;
    padding: 10px 30px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 2rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}


.btn-fill:hover{
    background-color: #583163;
}

.active, .btn-outline{
    background: transparent;
    border: 2px solid #2c1c30;
    padding: 10px 30px;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease-out ;
}

.active:hover, .btn-outline:hover{
    background-color: #583163;
    color: white;
}

.header-img{
    border-radius: 100%;
    background-image: url(https://images.unsplash.com/photo-1554967769-1f961137e9c1?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;
    width: 400px;
    height: 400px;
    box-shadow: 4px 7px 5px 2px #464444;
    margin-right: 5rem;
}

/* section-one */

.section-one{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 7rem;
}

.section-one-img{
    background-image: url(https://images.unsplash.com/photo-1633292750937-120a94f5c2bb?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

/* products */

.products{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.products .product-heading{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.products .product-categories .btn-outline{
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.products .product-items-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    max-width: 60rem;
}

.item{
    margin: 20px;
}

.item-layer{
    margin-right:20px ;
    border-radius: 25px;
    margin-bottom: 20px;
    margin: 0 auto;
}

.product-items-container .item .item-layer img{
    width: 150px;
    height: 200px;
    border-radius: 25px;
}

.item-name, .item-price{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.view-product{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 2rem;
    color: black;border-bottom: 1px solid #2c1c30;
    font-weight: 600;
}

/* customers review */

.customers-heading{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    margin-top: 50px;
}

.customers-reviews{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    justify-content: space-around;
    align-items: center;
}

.customer{
    text-align: center;
}

.customers-reviews .customer-description {
    font-size: 12px;
    margin-top: 20px;
    max-width: 200px;
    text-align: center;
    margin: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  /* .customer .customer-img .img {
    width: 200;
    height: 200;
    border-radius: 100%;
    background-position: center;
    background-size:cover;
    margin-bottom: 20px;
    margin: 0 auto;

  } */

  /* .customer-img .img-one{
    background: url(https://images.pexels.com/photos/972804/pexels-photo-972804.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  } */

  .img{
    background: url(https://images.pexels.com/photos/972804/pexels-photo-972804.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    width: 200px;
    height: 200px;
    background-position:bottom;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-size: cover;
 }

  /* footer */

  footer{
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #2c1c30;
    color: white;
    height: 50vh;
    font-family: 'Roboto', sans-serif;
  }

  footer .container .footer-heading {
    margin-bottom: 3rem;
  }
  
  footer .container .footer-primary-heading {
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 20px;
  }

  @media screen and(max-width : 800px) {
    header {
        height: 120vh;
        text-align: center;
      }
    
      .section-one {
        height: 120vh;
        text-align: center;
      }
    
      .header-img {
        width: 250px;
        height: 250px;
      }
    
      .main-heading {
        font-size: 3rem;
        margin-top: 2rem;
      }
    
      .primary-heading {
        width: 400px;
      }
    
      .customer .customer-img .img {
        width: 150px;
        height: 150px;
      }
  }