*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.left{
    background-color: blue;
    width: 20%;
    padding: 20px;
    float: left;
}
.right{
    background-color: purple;
    width: 20%;
    padding: 20px;
    float: left;
}

.main{
    background-color: whitesmoke;
    width: 20%;
    padding: 20px;
    float: left;
}

@media screen and (max-width : 800px){
    .left, .main, .right{
        width: 100%;
    }
}