  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* navbar */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:20px;
    background-color: rgba(94, 28, 28, 0.932);
    color: white;
}

li{
    display: inline;
    list-style-type: none;
    margin-left: 50px;
    
}

 a{
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
 }

a:hover{
    color: bisque;
}

/* header */

header{
    background-image: url(img/pexels-chevanon-photography-324028.jpg); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 200px;
    padding-left: 200px;
   
}
.main-heading, .sub-heading{
    margin-bottom: rem;
    color: white;
    font-family: 'Sofia', cursive;
    font-style: italic;
    font-size: 4rem;
}
.btn-main, .read-more, .learn-more{
    text-align: center;
    background-color: transparent;
    border: 2px sold black;
    padding: 15px 30px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-top: 1.2rem;
    cursor: pointer;
    margin-left: 9rem;
}
#our-story{
    background-image: url(img/pexels-jason-villanueva-851555.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.content p, .para{
    font-family: 'Open Sans', sans-serif;
    max-width: 500px;
    line-height: 20px;
}

.place{
background-image: url(img/pexels-life-of-pix-67468.jpg);
background-position: center;
background-size: cover;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
padding-left: 200px;
}

.title-content h1{
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
}


.learn-more{
    margin-top: 1rem;
    width: 170px;
}

/* product */
.product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}
.product-one{
    background-image: url(img/pexels-brigitte-tohm-131893.jpg);
}
.product-two{
    background-image: url(img/pexels-pixabay-162947.jpg);
}

.product-three{
    background-image: url(img/pexels-pixabay-433145.jpg);
}

.product-one, .product-two, .product-three{
    width: 500px;
    height: 500px;
    border-radius: 100px;
    background-position: center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.types{
    text-align: center;
    padding-top: .5rem;
    text-decoration: underline;
    color: rgb(245, 95, 9);
    font-size: 2rem;
    font-family: 'Sofia', cursive;    
}

footer{
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: white;
    background-color: rgba(94, 28, 28, 0.932);

}

footer .container{
    margin: 20px;
    max-width: 300px;
    text-align: center;
}

footer .heading-info{
    margin: 20px;
}

/* responsive */

@media only screen and(max-width : 768px) {
    .main-heading,
    .sub-heading{
        font-size:1rem;
    }
#our-story{
    text-align: center;
}
}