@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: rgb(212, 245, 245);
    margin: 1rem;
}

/* navbar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(170, 64, 170);
    padding: 20px;
    margin-bottom: 5rem;
}

nav ul{
    margin-left: 5rem;
}
nav ul a{
    text-decoration: none;
    color: black;
}

.burger{
    margin-right: 5rem;
    cursor: pointer;
}

nav .burger span{
    height: 4px;
    border: 2px solid black;
    background-color: black;
}

/* header */

header{
    margin: 6rem;
}

.main-heading{
    width: 50%;
    font-size: 3rem;
}

.primary-heading{
    width: 50%;
    margin-top: 3rem;
    font-size: 1.5rem;
    line-height: 30px;
    font-weight: 600;
}

.bg-gray{
    color: white;
    background-color:gray;
    padding: 2px 10px;
    font-weight: bold;
}

/* main */

main{
    margin: 0 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 30x;
}
img{
    width: 40%;
    margin: 10px;
}

/* section three */

.section-three{
    margin-left: 5rem;

}
.section-three, .primary-heading{
    margin-bottom: 10rem;
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.section-three img{
    width: 400px;
    height: 500px;
    margin: 50px;
}
.section-three h1{
    font-size: 2rem;
    color: cadetblue;

}

/* footer */

footer{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    background-color: rgb(170, 64, 170);

}

footer.logo-container h1{
    font-size: 4rem;
    margin-bottom: 20px;
}

footer .logo-container p{
    max-width: 400px;
    font-family: 'Open Sans';
    line-height: 25px;
}


footer .about-company{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer .about-company .container{
    margin-right: 40px;
    margin-top: 20px;
}

footer .about-company .container h1{
    margin-bottom: 50px;
}
footer.container p{
    font-family: 'Open Sans';
    margin-bottom: 20px;
}

@media screen and (max-width : 740px) {
    header .main-heading{
        width: 100%;
    }

header .primary-heading{
    width: 100%;
    font-size: 1.5rem;
}
.section-three .main-headings {
    width: 100%;
  }
  .section-three .primary-headings {
    width: 100%;
    font-size: 1.5rem;
  }
  .section-three .main-headings {
    width: 100%;
  }
  .section-three .primary-headings {
    width: 100%;
    font-size: 1.5rem;
  }

  .section-three img{
    margin: 0;
  }
}